.managerCandidateContainer {
  padding: 20px !important;
  .tableCandidateContainer {
    filter: drop-shadow(0px 5px 25px rgba(34, 51, 84, 0.15));
  }
}

.detailCandidateContainer {
  padding: 30px 25px;
  .infoContainer {
    margin-top: 15px;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 5px 25px rgba(34, 51, 84, 0.15);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .editIcon {
      position: absolute;
      right: 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
    .detail {
      cursor: pointer;
      top: 13px;
      position: absolute;
      right: 50px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: right;
      text-decoration-line: underline;
      color: #333333;
    }
  }
  .infoData {
    display: flex;
    flex-basis: 50%;
  }
  .infoDataApply {
    display: flex;
    flex-basis: 33.3%;
  }
}