@import "../../styles/variable";

.managerJobContainer {
  padding: 20px;
  :global {
    .ant-carousel .slick-dots li.slick-active > button {
      background-color: $main-color;
    }
    .ant-carousel .slick-dots li {
      background-color: $main-color-rgb;
    }
    .slick-dots-bottom {
      bottom: -40px !important;
    }
  }
  .titleHeader {
    color: $main-color;
    font-weight: 700;
    font-size: 20px;
  }
}
