.statisticsStatusContainer {
  .totalBlock {
    background: #ffdba9;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #223354;

    .title {
      color: #223354;
      font-size: 18px;
      font-weight: bold;
      display: block;
    }
    .total {
      color: #223354;
      font-size: 35px;
      font-weight: bold;
    }
  }
  .waitBlock {
    background: #e0ebff;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #0057ff;

    .title {
      color: #0057ff;
      font-size: 14px;
      font-weight: 500;
    }
    .total {
      color: #0057ff;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .onBoardBlock {
    background: #dcffeb;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #2ecc71;

    .title {
      color: #2ecc71;
      font-size: 14px;
      font-weight: 500;
    }
    .total {
      color: #2ecc71;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .endInterviewBlock {
    background: #ffdcd9;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #e74c3c;

    .title {
      color: #e74c3c;
      font-size: 14px;
      font-weight: 500;
    }
    .total {
      color: #e74c3c;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
